NEXT_PUBLIC_SUPABASE_URL= https://xezqolcqtodxzypzbdvv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhlenFvbGNxdG9keHp5cHpiZHZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIzMDkyMjcsImV4cCI6MjA3Nzg4NTIyN30.iHbuB_JH6yJgRh2igow9rmRTrE5Dl8RuNLlbxu_-ijI
SENTRY_DSN=


